<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>checkboxs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-checkbox>Si o no?</ion-checkbox>

  <ion-checkbox labelPlacement="stacked">Aceptas terminos</ion-checkbox>

  <ion-item>
    <ion-checkbox label-placement="stacked" alignment="center">Alineado al centro</ion-checkbox>
  </ion-item>
</ion-content>
