<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>UTCV</ion-card-title>
      <ion-card-subtitle>TIDSM</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Y los babys y las babys.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFIEkci2q0Vws-MGnW7OZlA1exfYca1TPm3Q&s" />
    <ion-card-header>
      <ion-card-title>La mejor escuela</ion-card-title>
      <ion-card-subtitle>Los mejores</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Aqui estudia bees
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>UTCV</ion-card-title>
      <ion-card-subtitle>Desarrollo de Software</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> La mejor carrera </ion-card-content>
  </ion-card>
</ion-content>
