<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>textAreas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-textarea labelPlacement="floating">
        <div slot="label">Comentarios <ion-text color="danger">(Requerido)</ion-text></div>
      </ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
