<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>itemGroups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Tecnologias de las información</ion-label>
    </ion-item-divider>
  
    <ion-item>
      <ion-label>Desarrollo</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Entormmos</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Redes</ion-label>
    </ion-item>
  </ion-item-group>
  
  <ion-item-group>
    <ion-item-divider>
      <ion-label>B</ion-label>
    </ion-item-divider>
  
    <ion-item>
      <ion-label>Belgica</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Belarus</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Belgium</ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>
