<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>buttons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="full">Completo</ion-button>

  <ion-button shape="round">
    <ion-icon slot="icon-only" name="heart"></ion-icon>
  </ion-button>

  <ion-button color="warning">UsoColor</ion-button>

  <ion-button fill="outline">SinRelleno</ion-button>
</ion-content>
