<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input name="name" type="text" [(ngModel)]="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido paterno</ion-label>
      <ion-input name="appaterno" type="text" [(ngModel)]="appaterno" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido materno</ion-label>
      <ion-input name="apmaterno" type="text" [(ngModel)]="apmaterno"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input name="user" type="text" [(ngModel)]="user" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" label="Correo electronico" labelPlacement="floating" placeholder="example@gmail.com" errorText="El correo electronico no es valido" [(ngModel)]="email" email name="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefono</ion-label>
      <ion-input name="telephone" type="tel" [(ngModel)]="telephone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input name="address" type="text" [(ngModel)]="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input name="password" type="password" [(ngModel)]="password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Repite contraseña</ion-label>
      <ion-input name="passworddupe" type="password" [(ngModel)]="passworddupe" required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" [disabled]="registerForm.invalid">Registrarse</ion-button>
  </form>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-text>
    <p>¿Ya tienes una cuenta? <a routerLink="/login">Inicia Sesión</a></p>
  </ion-text>

</ion-content>
