<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input name="user" type="text" [(ngModel)]="user" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input name="password" type="password" [(ngModel)]="password" required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" [disabled]="loginForm.invalid">Iniciar Sesión</ion-button>
  </form>

  <ion-text>
    <p>¿No tienes una cuenta? <a routerLink="/register">Registrate</a></p>
  </ion-text>
</ion-content>
